<section class="grid grid-2cols">
    <section>
        <h2 class="align-center">Personal Info</h2>
        <section class="flexrow">
            <span>Full Name</span>
            <input name="system.profile.fullName" type="text" value="{{system.profile.fullName}}" data-dtype="String"/>
        </section>
        <section class="flexrow">
            <span>Aliases</span>
            <input name="system.profile.aliases" type="text" value="{{system.profile.aliases}}" data-dtype="String"/>
        </section>
        <section class="flexrow">
            <span>Occupation</span>
            <input name="system.profile.occupation" type="text" value="{{system.profile.occupation}}" data-dtype="String"/>
        </section>
        <section class="flexrow">
            <span>Age</span>
            <input name="system.profile.age" type="text" value="{{system.profile.age}}" data-dtype="String"/>
        </section>
        <section class="flexrow">
            <span>Height</span>
            <input name="system.profile.height" type="text" value="{{system.profile.height}}" data-dtype="String"/>
        </section>
        <section class="flexrow">
            <span>Birthplace</span>
            <input name="system.profile.birthplace" type="text" value="{{system.profile.birthplace}}" data-dtype="String"/>
        </section>
        <section class="flexrow">
            <span>Residence</span>
            <input name="system.profile.residence" type="text" value="{{system.profile.residence}}" data-dtype="String"/>
        </section>
    </section>
    <section class="align-center">
        <h2>Character Art</h2>
        <img class="profile-img" src="{{actor.img}}" data-edit="img" height="250px" width="250px"/>
    </section>
</section>
<section>
    <h2 class="align-center">Investigation</h2>
    <section>
        <span>Description</span>
        {{editor enrichedDescription target="system.profile.description" engine="prosemirror" button=true editable=editable}}
    </section>
    <section>
        <span>Background</span>
        {{editor enrichedBackground target="system.profile.background" engine="prosemirror" button=true editable=editable}}
    </section>
    <section>
        <span>Personality</span>
        {{editor enrichedPersonality target="system.profile.personality" engine="prosemirror" button=true editable=editable}}
    </section>
    <section>
        <span>Notes</span>
        {{editor enrichedNotes target="system.profile.notes" engine="prosemirror" button=true editable=editable}}
    </section>
    <section>
        <span>Relationships</span>
        {{editor enrichedRelationships target="system.profile.relationships" engine="prosemirror" button=true editable=editable}}
    </section>
    <section>
        <span>Notable History</span>
        {{editor enrichedNotableHistory target="system.profile.notableHistory" engine="prosemirror" button=true editable=editable}}
    </section>
</section>